<div class="dashboard-container">
  <div class="row">
  <div class="chart-container">
    <h3>Income by Source</h3>
    <ngx-charts-pie-chart
      [view]="view"
      [results]="incomePieChartData"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut">
    </ngx-charts-pie-chart>
  </div>

  <div class="chart-container">
    <h3>Expenses by Category</h3>
    <ngx-charts-pie-chart
      [view]="view"
      [results]="expensePieChartData"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut">
    </ngx-charts-pie-chart>
  </div>
</div>

 

  <div class="chart-container">
    <h3>Overall Income vs Expenses</h3>
    <ngx-charts-bar-vertical
      [view]="view"
      [results]="overallBarChartData"
      [legend]="showLegend"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Category'"
      [yAxisLabel]="'Amount'">
    </ngx-charts-bar-vertical>
  </div>
</div>
